# Misc
PORT=1234
API_URL=http://api.url
CLIENT_URL=http://client.url
ADMINS=ID1,ID2

# Database
DATABASE_URL=mongodb+srv://<user>:<password>@<cluster>.mongodb.net
DATABASE_NAME=YOURDATABASENAME

# OpenTelemetry
OTLP_ENDPOINT=https://openobserve.example.com/api/default
OTLP_TOKEN=ASUPERSECRETTOKEN
OTLP_STREAM=discord-analytics

#Tokens
DISCORD_TOKEN=ASUPERSECRETTOKEN
JWT_SECRET=ASUPERSECRETSECRET
ENABLE_REGISTRATIONS=true

# Linked Roles
CLIENT_SECRET=ASUPERSECRETSECRET
CLIENT_ID=ID

# Mail
SMTP=smtp.server.url
SMTP_MAIL=example@server.url
SMTP_USER=user
SMTP_PASSWORD=ASUPERSECRETPASSWORD

# R2
R2_BUCKET_NAME=bucket_name
R2_ACCOUNT_ID=ID
R2_BUCKET_ENDPOINT=https://<id>.r2.cloudflarestorage.com
R2_PUBLIC_BUCKET_ENDPOINT=https://public.r2.server.url
CLOUDFLARE_ID=ID
CLOUDFLARE_TOKEN=ASUPERSECRETTOKEN
